body, html {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* light-dark mode */
.dark-mode {
    background-color: #222;
    color: black;
}

.dark-mode header, 
.dark-mode footer {
    background-color: #3490db ;
    opacity: 0.3;
    color: #fff;
    
}


.dark-mode .blog-card {
    background-color: #fff;
    opacity: 0.3

}


/* header-button */
header {
    background-color: #3490db;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-bottom: 10px double rebeccapurple;
}

/* buttons to move between the pages */
.mode-button, .back-button {
    background-color: var(--accent-color);
    color: var(--text-color);
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
}

h1 {
    flex: content;
    margin: 10px;
}

div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
    align-content: start;
    

}

/* Elements Blog Data */

.blog-card {
    border: 3px solid black;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 5px;
    background-color: #fff;
    box-shadow: 0 3px 6px ;
}

/* Footer and Media Query */
footer { 
    background-color: #3490db;
    color: white;
    position: fixed;
    padding: 10px 20px;
    text-align: center;
    margin-top: auto;
    width: 100%;
    bottom: 0;
    border-top: 10px double rebeccapurple;
    opacity: 1;
  }

  @media (max-with: 768px) {
    main {
        grid-template-columns: 1fr;
    }
  }