form {
    display: flex;
    flex-direction: column;
}

form label, form input, form textarea, form input[type="submit"] {
    margin: 10px 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}

input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}


