/* :root {
    --main-color: #3490db;
    --secondary-color:  
    --accent-color: #3490db;
    --second-accent-color: #000000;
    --text-color: #000000;
    --header-text-color: white;
} */


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.dark-mode {
    background-color: #222;
    color: #fff;

}
header {
    background-color: #3490db ;
    color: white;
    padding: 10px 20px;
    display: flex;
    border-bottom: 10px double rebeccapurple;
}
/* Theme button */
.mode-button {
    background-color:  #3490db;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-right: 30px;
    float: right;
}


h1 {
    margin: 0;
    flex-grow: 1;
}

/* h2 {
    color: black;
} */


main {
    display: flex;
    height: calc(100vh - 50px);
}

/* left Box */

aside {
    /* background-color: */
    border-right:  10px double rebeccapurple;

    flex: 5;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}



/* image */
aside img {
    border-radius: 25%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
}

/* form */
section {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
}


/* mobile friendly */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    
    aside, section {
        flex: none;
        width: 100%;
    }
}