:root {
    --main-color: #3490db;
    --secondary-color:  
    --accent-color: #3490db;
    --second-accent-color: #000000;
    --text-color: #000000;
    --header-text-color: white;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

header {
    background-color: var(--main-color);
    color: var(--header-text-color);
    padding: 10px 20px;
    display: flex;
    /* align-items: center; */
    border-bottom: 10px double var(--second-accent-color);
}

.mode-button {
    background-color: var(--accent-color);
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-right: 30px;
    float: right;
}


h1 {
    margin: 0;
    flex-grow: 1;
}

h2 {
    color: var(--text-color);
}


main {
    display: flex;
    height: calc(100vh - 50px);
}

/* left Box */

aside {
    background-color:  var(--secondary-color);
    border-right:  10px double var(--second-accent-color);
    flex: 2;
    color: var(--text-color);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}



/* image */
aside img {
    border-radius: 25%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;  
}


/* mobile friendly */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    
    aside, section {
        flex: none;
        width: 100%;
    }
}